In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import plotly.express as px

In [2]:
df=pd.read_csv("Dataset.csv")

In [3]:
df.describe()

,Medu,Fedu,traveltime,failures,famrel,freetime,goout,Dalc,health,absences,G1,G2,G3,Feature_1,Feature_2,Feature_3
count,649.000000,576.000000,576.000000,649.000000,649.000000,604.000000,649.000000,649.000000,649.000000,580.000000,649.000000,614.000000,649.000000,611.000000,603.000000,610.000000
mean,2.514638,2.303819,1.574653,0.221880,3.930663,3.172185,3.184900,1.502311,3.536210,3.746552,11.399076,11.586319,11.906009,16.747954,1.913765,2.262295
std,1.134552,1.111076,0.744592,0.593235,0.955717,1.044684,1.175766,0.924834,1.446259,4.732890,2.745265,2.927878,3.230656,1.216812,0.830798,1.285279
min,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,15.000000,1.000000,1.000000
25%,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000,16.000000,1.000000,1.000000
50%,2.000000,2.000000,1.000000,0.000000,4.000000,3.000000,3.000000,1.000000,4.000000,2.000000,11.000000,11.000000,12.000000,17.000000,2.000000,2.000000
75%,4.000000,3.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,5.000000,6.000000,13.000000,13.000000,14.000000,18.000000,2.000000,3.000000
max,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000,22.000000,4.000000,5.000000

Checking different column titles

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   address     649 non-null    object
 3   famsize     599 non-null    object
 4   Pstatus     649 non-null    object
 5   Medu        649 non-null    int64
 6   Fedu        576 non-null    float64
 7   Mjob        649 non-null    object
 8   Fjob        649 non-null    object
 9   reason      649 non-null    object
 10  guardian    649 non-null    object
 11  traveltime  576 non-null    float64
 12  failures    649 non-null    int64
 13  schoolsup   649 non-null    object
 14  famsup      649 non-null    object
 15  paid        649 non-null    object
 16  activities  649 non-null    object
 17  nursery     649 non-null    object
 18  higher      573 non-null    object
 19  internet    649 non-null    object
 20  famrel      649 non-null    int64
 21  freetime    604 non-null    float64
 22  goout       649 non-null    int64
 23  Dalc        649 non-null    int64
 24  health      649 non-null    int64
 25  absences    580 non-null    float64
 26  G1          649 non-null    int64
 27  G2          614 non-null    float64
 28  G3          649 non-null    int64
 29  Feature_1   611 non-null    float64
 30  Feature_2   603 non-null    float64
 31  Feature_3   610 non-null    float64
 32  romantic    649 non-null    object
dtypes: float64(8), int64(8), object(17)
memory usage: 167.4+ KB

Investigating number of null values in columns

In [5]:
df.nunique()

school         2
sex            2
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
reason         4
guardian       3
traveltime     4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
famrel         5
freetime       5
goout          5
Dalc           5
health         5
absences      24
G1            17
G2            16
G3            17
Feature_1      8
Feature_2      4
Feature_3      5
romantic       2
dtype: int64

No unwanted/nonsense values exist in any of the columns and all values are as specified and in required format